.footer {
  background-color: var(--color-dark);
}

@media (max-width: 768px) {
  .footer {
    background-color: var(--color-light-dark);
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (max-width: 576px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 576px) {
  .list {
    margin: 40px 0;
  }
}

.item:not(:last-child) {
  margin-right: 20px;
}

.link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--color-white);
}

.link:before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 2.5px;
  border-radius: 5px;
  background-color: var(--color-primary);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.link:hover:before {
  opacity: 1;
  visibility: visible;
}

.copy {
  font-size: 14px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
}
