.item {
  cursor: pointer;
  position: relative;
  padding: 10px;
  background-color: white;
  margin: 7px;
  border: 2px solid rgb(209, 209, 209);
  border-radius: 5px;
  box-shadow: 0 10px 15px rgb(0, 0, 0, 0.15);

  span {
    font-size: 14px;
    word-break: break-all;
  }
}
.image {
  margin-bottom: 10px;

  img {
    object-fit: cover;
    min-width: 60px;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(49, 49, 49);
  }
}

.favoriteAddRemove {
  position: absolute;
  top: 6px;
  right: 6px;
  cursor: pointer;
  // width: 5px;
  // height: 5px;
  // padding: 15px;
  // background-color: rgb(200, 247, 182);
  // border: 2px solid rgb(209, 209, 209);
  // border-radius: 50%;
  // box-shadow: 2px 3px 5px rgb(182, 182, 182);
  // &:hover {
  //   background-color: rgb(181, 224, 164);
  // }
  &:hover {
  }
  img {
    width: 20px;
    height: 20px;
    transition: all 0.3s ease 0s;
    &:hover {
      scale: 1.4;
    }
  }
}

//============================================
.marker {
  position: absolute;
  top: -5px;
  right: -5px;
  height: 60px;
  width: 60px;
  // background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 0;

  &::before {
    content: '';
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ace2ff;
    width: 150%;
    height: 30px;
    transform: rotate(45deg) translateY(-15px);
    align-items: center;
    box-shadow: 0 3px 3px rgb(0, 0, 0, 0.3);
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3px;
    height: 3px;
    background-color: #7db6d4;
    z-index: -1;
    box-shadow: -57px -57px #7db6d4;
  }
}

//==================================

@media (max-width: 641px) {
  .item {
    padding: 5px;
    margin: 3px;
    span {
      font-size: 10px;
      word-break: break-all;
    }
  }
}
