.post {
  padding: 10px;
  margin: 15px;
  /* border: 1px solid black; */
  border-radius: 5px;
  background-color: white;
  box-shadow: 3px 3px 10px rgb(160, 160, 160);
}
.title {
  font-weight: 900;
  display: block;
}
.body {
  font-size: 0.8rem;
}
