.randomchar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  min-height: 260px;
}

.randomchar__block {
  padding: 40px 35px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 180px auto;
      grid-template-columns: 180px auto;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.randomchar__img {
  width: 180px;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.randomchar__img:hover {
  cursor: pointer;
}

.randomchar__info {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: minmax(29px, auto) 90px 38px;
      grid-template-rows: minmax(29px, auto) 90px 38px;
  row-gap: 10px;
  padding-top: 3px;
}

.randomchar__name {
  font-weight: bold;
  font-size: 22px;
  line-height: 29px;
  text-transform: uppercase;
}

.randomchar__descr {
  font-size: 14px;
  line-height: 18px;
}

.randomchar__btns a:nth-child(1) {
  margin-right: 30px;
}

.randomchar__static {
  text-align: center;
  position: relative;
}

.randomchar__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.045em;
  color: #3f3f3f;
}

.randomchar__title:nth-child(2) {
  margin-top: 33px;
}

.randomchar__decoration {
  position: absolute;
  bottom: 14px;
  right: -37px;
}
