.container {
  padding-top: 10px;
}

@media (max-width: 576px) {
  .container {
    padding-top: 5px;
  }
}

.item {
  padding-top: 6px;
}

@media (max-width: 1024px) {
  .item {
    padding-top: 0;
  }
}
