.remove-post {
  display: none;
  // grid-area: B;
}
li {
  cursor: pointer;
  position: relative;
  list-style: none;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  font-weight: 900;
  box-shadow: 3px 3px 10px rgb(172, 172, 172);
  display: grid;
  grid-template-areas:
    'A B'
    'C C';
  grid-template-columns: 100% auto;

  &:hover {
    box-shadow: 5px 5px 15px rgb(105, 105, 105);
    transform: scale(1.01);
    background-color: rgb(246, 251, 255);
    & .remove-post {
      grid-area: B;
      display: block;
      position: absolute;
      display: inline-block;
      right: 10px;
      font-weight: 900;
      &:hover {
        transform: scale(1.5);
        color: rgb(219, 20, 20);
      }
    }
  }
  &.active {
    box-shadow: 3px 3px 15px rgb(59, 59, 59);
    transform: scale(1.01);
    background-color: rgb(246, 251, 255);
  }
}
.post-title {
  grid-area: A;
}

.body {
  display: none;
}
.active .body {
  grid-area: C;
  position: relative;
  display: block;
  margin: 10px;
  font-weight: normal;
  padding-top: 10px;
  font-style: italic;
  color: rgb(59, 59, 59);
  &:before {
    content: '';
    position: absolute;
    background-color: rgb(197, 197, 197);
    height: 1px;
    width: 100%;
    top: 0px;
  }
}
