.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  color: var(--color-white);
  font-weight: 500;
  padding: 13px 15px;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid transparent;
  overflow: hidden;
  border-radius: 5px;
  background-color: var(--color-primary);
  -webkit-transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.btn[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.btn svg {
  width: 16px;
  height: 16px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

@media (max-width: 576px) {
  .btn {
    padding: 8px 9px;
    font-size: 13px;
    line-height: 13px;
  }
}

.btn:hover {
  background-color: var(--color-dark-primary);
}

.btn:hover svg {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
}

.stroke {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background-color: transparent;
}

.stroke:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

.regular {
  width: auto;
  height: auto;
  border-radius: 30px;
  padding: 13px 24px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--color-white);
  background-color: var(--color-primary);
}

@media (max-width: 576px) {
  .regular {
    font-size: 14px;
    line-height: 17px;
    padding: 11px 20px;
  }
}

.regular:hover {
  background-color: var(--color-dark-primary);
}

.regular:hover svg {
  -webkit-transform: none;
          transform: none;
}

.regular svg {
  width: 14px;
  height: 14px;
  stroke: currentColor;
  fill: currentColor;
}

.small {
  padding: 8px;
  font-size: 13px;
  line-height: 13px;
}
