.add {
  cursor: pointer;
  color: rgb(54, 54, 54);
  font-weight: 700;
  padding: 15px;
  background-color: rgb(200, 247, 182);
  border: 2px solid rgb(209, 209, 209);
  border-radius: 5px;
  box-shadow: 2px 3px 5px rgb(182, 182, 182);
  &:hover {
    background-color: rgb(181, 224, 164);
  }
}
.remove {
  cursor: pointer;
  color: rgb(54, 54, 54);
  font-weight: 700;
  padding: 15px;
  background-color: rgb(255, 174, 174);
  border: 2px solid rgb(209, 209, 209);
  border-radius: 5px;
  box-shadow: 2px 3px 5px rgb(182, 182, 182);
  &:hover {
    background-color: rgb(255, 153, 153);
  }
}
