.body {
  height: calc(100vh - 181px);
  overflow: scroll;
  overflow-x: hidden;
  margin: 0;
  padding: 20px;

  &::-webkit-scrollbar {
    width: 3px; /* ширина scrollbar */
  }
  &::-webkit-scrollbar-track {
    background: rgb(218, 218, 218); /* цвет дорожки */
    // border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #7a9cc2; /* цвет плашки */
    // border-radius: 10px; /* закругления плашки */
    // border: 1px solid rgb(179, 179, 179); /* padding вокруг плашки */
  }
}
.favoriteList {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
//==================================
@media (max-width: 1281px) {
  .favoriteList {
    grid-template-columns: repeat(7, 1fr);
  }
}
@media (max-width: 1025px) {
  .favoriteList {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (max-width: 961px) {
  .favoriteList {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 641px) {
  .body {
    height: calc(100vh - 141px);
  }
  .favoriteList {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 481px) {
  .favoriteList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 375px) {
  .favoriteList {
    grid-template-columns: repeat(2, 1fr);
  }
}
