.cards {
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.cardBody {
  text-align: center;
  background-color: #fff;
  margin: 15px;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgb(134, 134, 134);
}
.image {
  height: 200px;
  max-width: 150px;
  object-fit: cover;
}
