.button {
  min-width: 101px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  -webkit-transition: 0.3s -webkit-transform;
  transition: 0.3s -webkit-transform;
  transition: 0.3s transform;
  transition: 0.3s transform, 0.3s -webkit-transform;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.button__long {
  display: block;
  width: 170px;
  margin: 45px auto 0 auto;
}

.button__long:hover {
  top: 50%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.button__random {
  font-weight: 900;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button__random:hover {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1.3);
          transform: translate(-50%, -50%) scale(1.3);
}

.button__back {
  display: block;
  width: 150px;
  margin: 0 25px 0 auto;
}

.button__back:hover {
  top: 50%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.button .inner {
  position: relative;
  background-color: #1d93b1;
  line-height: 18px;
  padding: 0 18px;
  -webkit-transition: none;
  transition: none;
}

.button .inner::before {
  border-color: #1d93b1 transparent;
  border-style: solid;
  border-width: 0 0 10px 10px;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: -10px;
  -webkit-transition: none;
  transition: none;
}

.button .inner::after {
  border-color: #1d93b1 transparent;
  border-style: solid;
  border-width: 0 0 10px 10px;
  content: '';
  display: block;
  position: absolute;
  right: 0;
  bottom: -10px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: none;
  transition: none;
}

.button__main:hover, .button__secondary:hover {
  color: #fff;
}

.button__secondary .inner {
  background-color: #5C5C5C;
}

.button__secondary .inner::before {
  border-color: #5C5C5C transparent;
  -webkit-transition: none;
  transition: none;
}

.button__secondary .inner::after {
  border-color: #5C5C5C transparent;
  -webkit-transition: none;
  transition: none;
}

.button::before {
  content: '';
  display: block;
  height: 10px;
  margin-left: 10px;
  -webkit-transition: none;
  transition: none;
}

.button::after {
  content: '';
  display: block;
  height: 10px;
  margin-right: 10px;
  -webkit-transition: none;
  transition: none;
}

.button.button__main::before, .button.button__main::after {
  background-color: #1d93b1;
}

.button.button__secondary::before, .button.button__secondary::after {
  background-color: #5C5C5C;
}
